.global-theme {
          --space-0: 0;
  --space-1: 4;
  --space-2: 8;
  --space-3: 16;
  --space-4: 24;
  --space-5: 32;
  --space-6: 40;
  --space-7: 48;
  --color-brand-primary-base: #1068eb;
  --color-brand-secondary-base: #303d60;
  --color-neutral-11: #e7e7e7;
  --color-neutral-12: #CACBCB;
  --color-neutral-neutral-10: #101213;
  --color-neutral-neutral-9: #272b30;
  --color-neutral-neutral-8: #4f575e;
  --color-neutral-neutral-7: #6a7178;
  --color-neutral-neutral-6: #adb5bd;
  --color-neutral-neutral-5: #ced4da;
  --color-neutral-neutral-4: #dee2e6;
  --color-neutral-neutral-3: #e9ecef;
  --color-neutral-neutral-2: #f1f3f5;
  --color-neutral-neutral-1: #f8f9fa;
  --color-neutral-neutral-0: #ffffff;
  --color-semantic-info-base: #017aad;
  --color-semantic-info-light: #e5f5fc;
  --color-semantic-success-light: #eaf3eb;
  --color-semantic-success-base: #29823b;
  --color-semantic-warning-light: #fdf6e5;
  --color-semantic-warning-base: #e9a100;
  --color-semantic-error-light: #fceaea;
  --color-semantic-error-base: #dc2020;
  --color-extended-palette-red-darkest: #6e1717;
  --color-extended-palette-red-darker: #8c1d1d;
  --color-extended-palette-red-dark: #ab2424;
  --color-extended-palette-red-base: #c92a2a;
  --color-extended-palette-red-light: #d96a6a;
  --color-extended-palette-red-lighter: #e9aaaa;
  --color-extended-palette-red-lightest: #faeaea;
  --color-extended-palette-orange-darkest: #883904;
  --color-extended-palette-orange-darker: #ad4805;
  --color-extended-palette-orange-dark: #d25705;
  --color-extended-palette-orange-base: #f76707;
  --color-extended-palette-orange-light: #f99551;
  --color-extended-palette-orange-lighter: #fcc29c;
  --color-extended-palette-orange-lightest: #fef0e6;
  --color-extended-palette-yellow-darkest: #875700;
  --color-extended-palette-yellow-darker: #ac6f00;
  --color-extended-palette-yellow-dark: #d08700;
  --color-extended-palette-yellow-base: #f59f00;
  --color-extended-palette-yellow-light: #f8bc4c;
  --color-extended-palette-yellow-lighter: #fbd999;
  --color-extended-palette-yellow-lightest: #fef5e5;
  --color-extended-palette-lime-darkest: #40650c;
  --color-extended-palette-lime-darker: #51810f;
  --color-extended-palette-lime-dark: #639c13;
  --color-extended-palette-lime-base: #74b816;
  --color-extended-palette-lime-light: #9ecd5c;
  --color-extended-palette-lime-lighter: #c7e3a2;
  --color-extended-palette-lime-lightest: #f1f8e8;
  --color-extended-palette-green-darkest: #1e612a;
  --color-extended-palette-green-darker: #267d36;
  --color-extended-palette-green-dark: #2f9741;
  --color-extended-palette-green-base: #37b24d;
  --color-extended-palette-green-light: #73c982;
  --color-extended-palette-green-lighter: #afe0b8;
  --color-extended-palette-green-lightest: #ebf7ed;
  --color-extended-palette-teal-darkest: #044632;
  --color-extended-palette-teal-darker: #065940;
  --color-extended-palette-teal-dark: #076c4d;
  --color-extended-palette-teal-base: #087f5b;
  --color-extended-palette-teal-light: #52a58c;
  --color-extended-palette-teal-lighter: #9cccbd;
  --color-extended-palette-teal-lightest: #e6f2ef;
  --color-extended-palette-cyan-darkest: #074650;
  --color-extended-palette-cyan-darker: #095a66;
  --color-extended-palette-cyan-dark: #0b6c7b;
  --color-extended-palette-cyan-base: #0d8091;
  --color-extended-palette-cyan-light: #56a6b2;
  --color-extended-palette-cyan-lighter: #9eccd3;
  --color-extended-palette-cyan-lightest: #e7f2f4;
  --color-extended-palette-blue-10: #105FD5;
  --color-extended-palette-blue-20: #1055BB;
  --color-extended-palette-blue-30: #90C2FC;
  --color-extended-palette-blue-darkest: #0e4370;
  --color-extended-palette-blue-darker: #12558e;
  --color-extended-palette-blue-dark: #1667ad;
  --color-extended-palette-blue-base: #1a79cb;
  --color-extended-palette-blue-light: #5fa1db;
  --color-extended-palette-blue-lighter: #a3c9ea;
  --color-extended-palette-blue-lightest: #e5f0fe;
  --color-extended-palette-indigo-darkest: #243681;
  --color-extended-palette-indigo-darker: #2e45a5;
  --color-extended-palette-indigo-dark: #3854c8;
  --color-extended-palette-indigo-base: #4263eb;
  --color-extended-palette-indigo-light: #7b92f1;
  --color-extended-palette-indigo-lighter: #b3c1f7;
  --color-extended-palette-indigo-lightest: #eceffd;
  --color-extended-palette-violet-darkest: #3e2880;
  --color-extended-palette-violet-darker: #4e32a2;
  --color-extended-palette-violet-dark: #5f3dc5;
  --color-extended-palette-violet-base: #7048e8;
  --color-extended-palette-violet-light: #9b7fef;
  --color-extended-palette-violet-lighter: #c6b6f6;
  --color-extended-palette-violet-lightest: #f1edfd;
  --color-extended-palette-grape-darkest: #60226f;
  --color-extended-palette-grape-darker: #7a2b8d;
  --color-extended-palette-grape-dark: #9435ab;
  --color-extended-palette-grape-base: #ae3ec9;
  --color-extended-palette-grape-light: #c678d9;
  --color-extended-palette-grape-lighter: #dfb2e9;
  --color-extended-palette-grape-lightest: #f7ecfa;
  --color-extended-palette-pink-darkest: #761c3b;
  --color-extended-palette-pink-darker: #96244c;
  --color-extended-palette-pink-dark: #b62b5b;
  --color-extended-palette-pink-base: #d6336c;
  --color-extended-palette-pink-light: #e27098;
  --color-extended-palette-pink-lighter: #efadc4;
  --color-extended-palette-pink-lightest: #fbebf0;
  --color-accessibility-focus-inner: #101213;
  --color-accessibility-focus-outer: #ffd337;
  --shadow-none: [object Object];
  --shadow-xs: [object Object];
  --shadow-s: [object Object];
  --shadow-m: [object Object];
  --shadow-l: [object Object];
  --shadow-xl: [object Object];
  --button-state-pressed: [object Object];
  --button-state-hover: [object Object];
  --button-state-focus: [object Object];
  --border-bottom: [object Object];
  --pattern-state-selected: [object Object];
  --font-families-roboto: Roboto;
  --font-families-mono: Roboto Mono;
  --line-heights-0: 45;
  --line-heights-1: 40;
  --line-heights-2: 35;
  --line-heights-3: 32;
  --line-heights-4: 27;
  --line-heights-5: 25;
  --line-heights-6: 22;
  --line-heights-7: 24;
  --line-heights-8: 21;
  --line-heights-9: 18;
  --line-heights-10: 34;
  --line-heights-11: 28;
  --line-heights-12: 20;
  --font-weights-roboto-0: Light;
  --font-weights-roboto-1: Medium;
  --font-weights-roboto-2: Regular;
  --font-weights-roboto-3: Bold;
  --font-size-0: 12;
  --font-size-1: 14;
  --font-size-2: 16;
  --font-size-3: 17;
  --font-size-4: 18;
  --font-size-5: 19;
  --font-size-6: 20;
  --font-size-7: 21;
  --font-size-8: 22;
  --font-size-9: 24;
  --font-size-10: 26;
  --font-size-11: 28;
  --font-size-12: 30;
  --font-size-13: 32;
  --font-size-14: 34;
  --font-size-15: 36;
  --letter-spacing-0: 0;
  --paragraph-spacing-0: 0;
  --desktop-display-light: [object Object];
  --desktop-display-semibold: [object Object];
  --desktop-display-regular: [object Object];
  --desktop-display-bold: [object Object];
  --desktop-h1-light: [object Object];
  --desktop-h1-regular: [object Object];
  --desktop-h1-semibold: [object Object];
  --desktop-h1-bold: [object Object];
  --desktop-h2-light: [object Object];
  --desktop-h2-regular: [object Object];
  --desktop-h2-semibold: [object Object];
  --desktop-h2-bold: [object Object];
  --desktop-h3-light: [object Object];
  --desktop-h3-regular: [object Object];
  --desktop-h3-semibold: [object Object];
  --desktop-h3-bold: [object Object];
  --desktop-h4-light: [object Object];
  --desktop-h4-regular: [object Object];
  --desktop-h4-semibold: [object Object];
  --desktop-h4-bold: [object Object];
  --desktop-h5-light: [object Object];
  --desktop-h5-regular: [object Object];
  --desktop-h5-semibold: [object Object];
  --desktop-h5-bold: [object Object];
  --desktop-h6-light: [object Object];
  --desktop-h6-regular: [object Object];
  --desktop-h6-semibold: [object Object];
  --desktop-h6-bold: [object Object];
  --desktop-body-base: [object Object];
  --desktop-body-s: [object Object];
  --desktop-body-xs: [object Object];
  --tablet-display-light: [object Object];
  --tablet-display-regular: [object Object];
  --tablet-display-semibold: [object Object];
  --tablet-display-bold: [object Object];
  --tablet-h1-light: [object Object];
  --tablet-h1-regular: [object Object];
  --tablet-h1-semibold: [object Object];
  --tablet-h1-bold: [object Object];
  --tablet-h2-light: [object Object];
  --tablet-h2-regular: [object Object];
  --tablet-h2-semibold: [object Object];
  --tablet-h2-bold: [object Object];
  --tablet-h3-light: [object Object];
  --tablet-h3-regular: [object Object];
  --tablet-h3-semibold: [object Object];
  --tablet-h3-bold: [object Object];
  --tablet-h4-light: [object Object];
  --tablet-h4-regular: [object Object];
  --tablet-h4-semibold: [object Object];
  --tablet-h4-bold: [object Object];
  --tablet-h5-light: [object Object];
  --tablet-h5-regular: [object Object];
  --tablet-h5-semibold: [object Object];
  --tablet-h5-bold: [object Object];
  --tablet-h6-light: [object Object];
  --tablet-h6-regular: [object Object];
  --tablet-h6-semibold: [object Object];
  --tablet-h6-bold: [object Object];
  --tablet-body-base: [object Object];
  --tablet-body-s: [object Object];
  --tablet-body-xs: [object Object];
  --phone-display-regular: [object Object];
  --phone-display-semibold: [object Object];
  --phone-display-light: [object Object];
  --phone-display-bold: [object Object];
  --phone-h1-light: [object Object];
  --phone-h1-regular: [object Object];
  --phone-h1-semibold: [object Object];
  --phone-h1-bold: [object Object];
  --phone-h2-light: [object Object];
  --phone-h2-semibold: [object Object];
  --phone-h2-regular: [object Object];
  --phone-h2-bold: [object Object];
  --phone-h3-light: [object Object];
  --phone-h3-semibold: [object Object];
  --phone-h3-regular: [object Object];
  --phone-h3-bold: [object Object];
  --phone-h4-light: [object Object];
  --phone-h4-semibold: [object Object];
  --phone-h4-regular: [object Object];
  --phone-h4-bold: [object Object];
  --phone-h5-light: [object Object];
  --phone-h5-regular: [object Object];
  --phone-h5-semibold: [object Object];
  --phone-h5-bold: [object Object];
  --phone-h6-light: [object Object];
  --phone-h6-regular: [object Object];
  --phone-h6-semibold: [object Object];
  --phone-h6-bold: [object Object];
  --phone-body-base: [object Object];
  --phone-body-s: [object Object];
  --phone-body-xs: [object Object];
  --actions-base: [object Object];
  --actions-s: [object Object];
  --actions-xs: [object Object];
  --text-case-none: none;
  --text-decoration-none: none;
  --border-width-0: 0;
  --border-width-1: 1;
  --border-width-2: 2;
  --border-width-3: 3;
  --border-radius-0: 0;
  --border-radius-1: 4;
  --border-radius-2: 100;
  --border-radius-3: 100%;
  --size-0: 0;
  --size-1: 4;
  --size-2: 8;
  --size-3: 12;
  --size-4: 16;
  --size-5: 20;
  --size-6: 24;
  --size-7: 28;
  --size-8: 32;
  --size-9: 36;
  --size-10: 40;
  --size-11: 44;
  --size-12: 48;
  --size-13: 52;
  --size-14: 56;
      }